body{
  padding: 0px;
  margin: 0px;
}
  .main{
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    height:auto;
}

.home{
  width: 100%;
  height: 600px;
  background-color: #19d715;
  display: block;
  float: left;
}

.navigation{
  text-align: center;
}

.about{
  text-align: left;
}
